<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mas Trade International LTD.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/home.css">
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header">
        <image src="img/logo.png" alt="Mas Trade International LTD. Logo">        
    </div>
    
    <div class="container">
        <div class="logout">
            <button type="button" class="btn btn-default">Logout</button>
        </div>
        <div class="contents">
            <a href="">
                <div class="option" style="border: 5px solid #03818E;">
                    <div class="optionImage" style="background-color: #03818E;">
                        <img src="img/machine.png" alt="Machine">
                    </div>
                    <p class="optionText">MACHINE</p>
                </div>
            </a>
            <a href="">
                <div class="option" style="border: 5px solid #1E1E1E;">
                    <div class="optionImage" style="background-color: #1E1E1E;">
                        <img src="img/stationary.png" alt="Stationary">
                    </div>
                    <p class="optionText">STATIONARY</p>
                </div>
            </a>
            <a href="">
                <div class="option" style="border: 5px solid #033775;">
                    <div class="optionImage" style="background-color: #033775;">
                        <img src="img/others.png" alt="Others">
                    </div>
                    <p class="optionText">OTHERS</p>
                </div>
            </a>
        </div> 
    </div>
    
    <div class="footer">
        <p>Developed By: Quard Core, IUBAT University</p>  
    </div>

</body>
</html>