<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mas Trade International LTD.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/inputForm.css">
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header">
        <image src="img/logo.png" alt="Mas Trade International LTD. Logo">        
    </div>
    
    <div class="container">
        <div class="logout_report">
            <button type="button" class="btn btn-default">Logout</button>
        </div>
        <div class="logout_report">
            <button type="button" class="btn btn-default">Report</button>
        </div>
        
        <div class="formDesign">
            <form class="form" action="">
                <div class="form-group row">
                    <span class="col-md-4">Email address:</span>
                    <input type="email" class="form-control col-md-8" id="email">
                </div>
                <div class="form-group row">
                    <span class="col-md-4">Email address:</span>
                    <input type="email" class="form-control col-md-8" id="email">
                </div>
                <div class="form-group row">
                    <span class="col-md-4">Email address:</span>
                    <input type="email" class="form-control col-md-8" id="email">
                </div>
                <br/>
                <div class="submitDesign">
                    <button type="submit" class="btn btn-default submitButton">Submit</button>
                </div>
            </form>
        </div>
    </div> 
    
    <div class="footer">
        <p>Developed By: Quard Core, IUBAT University</p>  
    </div>

</body>
</html>