<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mas Trade International LTD.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/loginPage.css">
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header">
        <image src="img/logo.png" alt="Mas Trade International LTD. Logo">        
    </div>
    
    <div class="container">
        <div class="contents">
        <h3>Inventory Management System</h3>
            <form action="" method="post" class="form">                
                <div class="row offset-md-4 formRow">
                    <input class="col-md-6" type="text" placeholder="User Name">
                </div>                
                <div class="row offset-md-4 formRow">
                    <input class="col-md-6" type="password" placeholder="Password">
                </div>               
                <div class="row offset-md-4 formRow">
                    <input class="col-md-6 submitButton" type="submit" value="Login">
                </div>
                
            </form>
        </div> 
    </div>
    
    <div class="footer">
        <p>Developed By: Quard Core, IUBAT University</p>  
    </div>

</body>
</html>