{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mas Trade International Garments LTD.</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="{% static 'StaffWorkspace/img/favicon.png' %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'StaffWorkspace/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'StaffWorkspace/css/base.css' %}">
  <script src="{% static 'StaffWorkspace/js/bootstrap.min.js' %}"></script>
  {% block extraCSS %}{% endblock %}
  <noscript>
        <style type="text/css">
            .container {color:#c1c1c1;}
            .alert {display:block;}
            .submitButton {display:none;}
        </style>    
  </noscript>
</head>
<body>
    <div class="header">
        <a href="{% url 'home' %}">
            <image src="{% static 'StaffWorkspace/img/logo.png' %}" alt="Mas Trade International LTD. Logo">
        </a>       
    </div>
    <div class="alert">
        <strong>Danger!</strong> Do not submit any data. Reset your browser or <a href="https://www.enable-javascript.com/" target="_blank" style= "color: white;"><u>enable JavaScript.</u> </a>
    </div>
    {% block content %}
    {% endblock %}
    
    
    <div class="footer">
        <br/>
        <p>Factory: Helal Complex, Plot No. 72, Bypass Biswa Road, Mogarkhal, Gazipur-1707, Bangladesh<br>  
            Tel: +880-2-9261047-48, Faz: 880-2-9261062, 9261126, Email: info@mastradebd.com<br>  
            Cell No.: +88 01678-667407 or 01618667434 or 01678-667415</p>  
        <p>
            <span>&nbsp;&nbsp; Developed By: Quard Core, IUBAT &nbsp;&nbsp;</span>
        </p>  
    </div> 
</body>
</html>