{% extends "StaffWorkspace/base.html" %}
{% load static %}

{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'StaffWorkspace/css/inputForm.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="logout_report">
            <button type="button" class="btn btn-default">Logout</button>
        </div>
        <div class="logout_report">
            <a href="{% url 'worker_report' %}"><button type="button" class="btn btn-default">Report</button></a>
        </div>
        
        <div class="formDesign">
            <form class="form" action="{% url 'input_form_submit'%}" method="post">
            {% csrf_token %}
                <div class="form-group row">
                    <span class="col-md-4">Item Name:</span>
                    <select class="form-control col-md-8" onchange="itemChange()" id="item" name ="item_name">
                        <option selected disabled hidden>Select</option>
                        {% for item in items %}
                            <option value="{{ item.name }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group row">
                    <span class="col-md-4">Vendor:</span>
                    <select class="form-control col-md-8" name ="vendor_name">
                        <option selected disabled hidden>Select</option>
                        {% for vendor in vendors %}
                            <option value="{{ vendor.name }}">{{ vendor.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group row">
                    <span class="col-md-4">Stock Location:</span>
                    <select class="form-control col-md-8" name ="stock_location">
                        <option selected disabled hidden>Select</option>
                        {% for location in stock_locations %}
                            <option value="{{ location.name }}">{{ location.name }} - {{ location.address }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group row">
                    <span class="col-md-4">Cost / Unit:</span>
                    {{ form.cost_per_unit }}
                </div>
                <div class="form-group row">
                    <span class="col-md-4">Previous Balance:</span>
                    <input type="text" class="form-control col-md-8" id="previous_balance" name ="previous_balance" readonly>
                </div>   
                <div class="form-group row">
                    <span class="col-md-4">Purchase:</span>
                    {{ form.purchase }}
                </div>  
                <div class="form-group row">
                    <span class="col-md-4">Issued:</span>
                    {{ form.issued }}
                </div>              
                <div class="form-group row">
                    <span class="col-md-4">Ending Balance:</span>
                    {{ form.ending_balance }}
                </div>                
                <div class="form-group row">
                    <span class="col-md-4">Issued to:</span>
                    {{ form.issued_to }}
                </div>
                <div class="form-group row">
                    <span class="col-md-4">Comments:</span>
                    {{ form.comments }}
                </div>
                <br/>
                <div class="submitDesign">
                    <button type="submit" class="btn btn-default submitButton">Submit</button>
                </div>
            </form>
        </div>
    </div> 
    
    <script>
        function itemChange(){
            // Changing the value of previous_balance depending on item choice
            {% for item in items %}
                if (document.getElementById("item").value == "{{ item.name }}"){
                    document.getElementById("previous_balance").value = "{{ item.balance }}";
                    console.log("{{ item.balance }}"); // Testing on browser
                }
            {% endfor %}
        }
        
        // Calculation for input filed so that auto ending_balance can show depending on issued item and purchase item.
        function issuedItem(){
            if (parseInt(document.getElementById("id_issued").value) <= parseInt(document.getElementById("previous_balance").value)){
                    var ending_balance = parseInt(document.getElementById("previous_balance").value) - parseInt(document.getElementById("id_issued").value);
                    document.getElementById("id_ending_balance").value = ending_balance;
                    console.log(ending_balance);
            }
        }
        function purchaseItem(){
            var ending_balance = parseInt(document.getElementById("previous_balance").value) + parseInt(document.getElementById("id_purchase").value);
            document.getElementById("id_ending_balance").value = ending_balance;
            console.log(ending_balance);
        }
    </script>
{% endblock %}