{% extends "StaffWorkspace/base.html" %}
{% load static %}

{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'StaffWorkspace/css/reportMonthly.css' %}">
{% endblock %}

{% block content %}
    <div class="logout_report">
        <a href="{% url 'logout_user' %}">
            <button type="button" class="btn btn-default">Logout</button>
        </a>
    </div>
    <h3 class="report">{{ date }}</h3>

    <div class="container-fluid">    
        <div class="row month_search">
            <form action="{% url 'report_monthly_search' catagory 'month' %}" method="POST">
                {% csrf_token %}
                <span class="col-md-6">Month:</span>
                <input type="text" class="date_month col-md-6" placeholder="mm/yyyy" name="month" pattern="^1?\d\/\d{4}$">
                <input type="submit"style=" display: none">
            </form>
        </div>
        <table class="tableEdit">
            <tr>
                <th>Sl No.</th>                
                <form action="{% url 'report_daily_search' catagory 'itemNo' %}" method="POST" novalidate>
                {% csrf_token %}           
                    <th><input type="text" placeholder="Item No." size="6" name="itemNo"></th>
                    <input type="submit"style=" display: none">
                </form>
                <form action="{% url 'report_daily_search' catagory 'itemName' %}" method="POST" novalidate>
                {% csrf_token %}
                    <th><input type="text" placeholder="Item Name" size="10" name="itemName"></th>
                    <input type="submit"style=" display: none">
                </form>
                <th>Previous Balance</th>
                <th>Purchase</th>
                <th>Issued</th>
                <th>Ending Balance</th>
                <th>Total Purchase Cost</th>
            </tr>
            
            {% for report in total_changes %}<tr>
                <td>{{ forloop.counter }}</td>
                {% for report_details in report %}                
                    <td>{{ report_details }}</td>
                {% endfor %}</tr>
            {% empty %}
                <tr>
                <td class="noSearchFound" colspan="8"> No search found.</td>
                </tr>
            {% endfor %}
            
        </table>
		<div class="printButton">
			<button onclick="printReport()">Print</button>
		</div>
    </div> 
    <script>
    function printReport(){
        var full_page = document.body.innerHTML;
        var content = document.getElementById("printArea").innerHTML;        
        document.body.innerHTML = content;
        window.print();
        document.body.innerHTML = full_page;
    }
    </script>

    <!-- Below codes are for print report -->
<div id="printArea">
        <div class="printAreaheader">
            <img src="{% static 'StaffWorkspace/img/logo.png' %}" alt="Mas Trade International LTD. Logo">
        </div>
        <hr/>
        <h3 class="printAreareport">Closing Report of &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
        
        <div class="container-fluid" >    
            <table id="printAreatableEdit">
                <tr id="printAreatr">
                    <th id="printAreath">Sl No.</th>
                    <th id="printAreath">Item No.</th>
                    <th id="printAreath">Item Name</th>
                    <th id="printAreath">Previous Balance</th>
                    <th id="printAreath">Purchase</th>
                    <th id="printAreath">Issued</th>
                    <th id="printAreath">Ending Balance</th>
                    <th id="printAreath">Total Purchase Cost</th>
                </tr>
                {% for report in total_changes %}                    
                    <tr id="printAreatr">
                        <td id="printAreatd">{{ forloop.counter }}</td>
                        {% for report_details in report %}                
                            <td id="printAreatd">{{ report_details }}</td>
                        {% endfor %}                    
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>    

{% endblock %}