{% extends "StaffWorkspace/base.html" %}
{% load static %}

{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'StaffWorkspace/css/reportDaily.css' %}">
{% endblock %}

{% block content %}
    <div class="logout_report">
        <a href="{% url 'logout_user' %}">
            <button type="button" class="btn btn-default">Logout</button>
        </a>
    </div>
    <h3 class="report">{{ date }}</h3>

    <div class="container-fluid">  
        <table class="tableEdit">
            <tr>
                <th>Sl No.</th>
                <th class="date">
                    <form action="{% url 'report_daily_search' catagory 'date' %}" method="POST">
                    {% csrf_token %}                    
                        <input type="date" name="date">
                        <input type="submit"style=" display: none">
                    </form>
                    <form action="{% url 'report_daily_search' catagory 'month' %}" method="POST">
                    {% csrf_token %}                    
                        <input type="text" class="date_month" placeholder="mm/yyyy" name="month"  pattern="^1?\d\/\d{4}$">
                        <input type="submit"style=" display: none">
                    </form>
                </th> 
                <th>                
                    <form autocomplete="off" action="{% url 'report_daily_search' catagory 'itemNo' %}" method="POST">
                    {% csrf_token %}           
                        <input type="text" placeholder="Item No." size="6" name="itemNo" id="itemNo" onkeyup="itemNoAutoSuggest()">
                        <div id="suggestionItemNo" class="autoSuggestion"></div>
                        <input type="submit"style=" display: none">
                    </form>
                </th>
                <form autocomplete="off" action="{% url 'report_daily_search' catagory 'itemName' %}" method="POST">
                {% csrf_token %}
                    <th>
                        <input type="text" placeholder="Item Name" size="10" name="itemName" id="itemName" onkeyup="itemNameAutoSuggest()">
                        <div id="suggestionItemName" class="autoSuggestion"></div>
                    </th>
                    <input type="submit"style=" display: none">
                </form>
                <form action="{% url 'report_daily_search' catagory 'vendor' %}" method="POST">
                {% csrf_token %}
                    <th><input type="text" placeholder="Vendor" size="10" name="vendor" id="vendor"></th>
                    <input type="submit"style=" display: none">
                </form>
                <th>Stock Location</th>
                <th>Cost/Unit</th>
                <th>Previous Balance</th>
                <th>Purchase</th>
                <th>Issued</th>
                <th>Ending Balance</th>
                <th>Issued To</th>
                <th>Comments</th>
            </tr>
            
            {% for item in report %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.date }}</td> 
                <td>{{ item.item_no }}</td>
                <td>{{ item.item_name }}</td> 
                <td>{{ item.vendor }}</td>
                <td>{{ item.stock_location }}</td> 
                <td>{{ item.cost_per_unit }}</td>
                <td>{{ item.previous_balance }}</td> 
                <td>{{ item.purchase }}</td> 
                <td>{{ item.issued }}</td> 
                <td>{{ item.ending_balance }}</td>
                <td>{{ item.issued_to }}</td> 
                <td>{{ item.comments }}</td>
            </tr>
            {% empty %}
                <tr>
                <td class="noSearchFound" colspan="13"> No search found.</td>
                </tr>
            {% endfor %}
            
        </table>
		<div class="printButton">
			<button onclick="printReport()">Print</button>
		</div>
    </div> 
    <script>
    function printReport(){
        var full_page = document.body.innerHTML;
        var content = document.getElementById("printArea").innerHTML;        
        document.body.innerHTML = content;
        window.print();
        document.body.innerHTML = full_page;
    }
    </script>

    <!-- Below codes are for print report -->
<div id="printArea">
        <div class="printAreaheader">
            <img src="{% static 'StaffWorkspace/img/logo.png' %}" alt="Mas Trade International LTD. Logo">
        </div>
        <hr/>
        <h3 class="printAreareport">Report of &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
        
        <div class="container-fluid" >    
            <table id="printAreatableEdit">
                <tr id="printAreatr">
                    <th id="printAreath">Sl No.</th>
                    <th id="printAreath">Date</th>
                    <th id="printAreath">Item No.</th>
                    <th id="printAreath">Item Name</th>
                    <th id="printAreath">Vendor</th>
                    <th id="printAreath">Stock Location</th>
                    <th id="printAreath">Cost/Unit</th>
                    <th id="printAreath">Previous Balance</th>
                    <th id="printAreath">Purchase</th>
                    <th id="printAreath">Issued</th>
                    <th id="printAreath">Ending Balance</th>
                    <th id="printAreath">Issued To</th>
                    <th id="printAreath">Comments</th>
                </tr>
                {% for item in report %}
                <tr id="printAreatr">
                    <td id="printAreatd">{{ forloop.counter }}</td>
                    <td id="printAreatd">{{ item.date }}</td> 
                    <td id="printAreatd">{{ item.item_no }}</td>
                    <td id="printAreatd">{{ item.item_name }}</td> 
                    <td id="printAreatd">{{ item.vendor }}</td>
                    <td id="printAreatd">{{ item.stock_location }}</td> 
                    <td id="printAreatd">{{ item.cost_per_unit }}</td>
                    <td id="printAreatd">{{ item.previous_balance }}</td> 
                    <td id="printAreatd">{{ item.purchase }}</td> 
                    <td id="printAreatd">{{ item.issued }}</td> 
                    <td id="printAreatd">{{ item.ending_balance }}</td>
                    <td id="printAreatd">{{ item.issued_to }}</td> 
                    <td id="printAreatd">{{ item.comments }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>  

<!-- Search auto suggestion     -->
<script>
<!-- Search by item name -->
    function itemNameAutoSuggest(){
        var itemName = [];
        var a = document.getElementById("suggestionItemName");
        a.innerHTML = "";        
        var searchedItemName = document.getElementById("itemName").value;
        
        if(document.getElementById("itemName").value==""){
            a.innerHTML = "";
        }
        else
        {        
            {% for item in report_search_suggest %}
                itemName.push("{{ item.name }}");
            {% endfor %}            
            item = new Set(itemName);
            itemName = Array.from(item);
            for(i=0; i<=itemName.length; i++){
                if(itemName[i].substr(0, searchedItemName.length).toUpperCase() == searchedItemName.toUpperCase()){
                    a.innerHTML += "<li onclick=searchedItemName('"+ itemName[i] +"')>" + itemName[i] + "</li>";
                }
            }
            console.log(itemName);
        }
    }
    function searchedItemName(itemName){        
        document.getElementById("itemName").value = itemName;
        document.getElementById("itemName").focus();
        document.getElementById("suggestionItemName").innerHTML = "";
    }
    
<!-- Search by item no -->
    function itemNoAutoSuggest(){
        var itemNo = [];
        var a = document.getElementById("suggestionItemNo");
        a.innerHTML = "";        
        var searchedItemNo = document.getElementById("itemNo").value;
        
        if(document.getElementById("itemNo").value==""){
            a.innerHTML = "";
        }
        else
        {        
            {% for item in report_search_suggest %}
                itemNo.push("{{ item.item_no }}");
            {% endfor %}          
            item = new Set(itemNo);
            itemNo = Array.from(item);
            for(i=0; i<=itemNo.length; i++){
                if(itemNo[i].substr(0, searchedItemNo.length).toUpperCase() == searchedItemNo.toUpperCase()){
                    a.innerHTML += "<li onclick=searchedItemNo('"+ itemNo[i] +"')>" + itemNo[i] + "</li>";
                }
            }
        }
    }
    function searchedItemNo(itemNo){        
        document.getElementById("itemNo").value = itemNo;
        document.getElementById("itemNo").focus();
        document.getElementById("suggestionItemNo").innerHTML = "";
    }
</script>

{% endblock %}