{% extends "StaffWorkspace/base.html" %}
{% load static %}

{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'StaffWorkspace/css/workerReport.css' %}">
{% endblock %}

{% block content %}
    <div class="logout_report">
        <button type="button" class="btn btn-default">Logout</button>
    </div>
    <h3 class="report">Report of {{ date }}</h3>

    <div class="container-fluid">    
        <table class="tableEdit">
            <tr>
                <th>Sl No.</th>
                <form action="{% url 'worker_report_search' 'date' 'itemNo' 'itemName' 'vendor' %}" method="POST" novalidate>
                {% csrf_token %}
                    <th><input type="date" name="date"></th>                
                    <th><input type="text" placeholder="Item No." size="6" name="itemNo"></th>
                    <th><input type="text" placeholder="Item Name" size="10" name="itemName"></th>
                    <th><input type="text" placeholder="Vendor" size="10" name="vendor"></th>
                    <input type="submit"style=" display: none">
                </form>
                <th>Stock Location</th>
                <th>Cost/Unit</th>
                <th>Previous Balance</th>
                <th>Purchase</th>
                <th>Issued</th>
                <th>Ending Balance</th>
                <th>Issued To</th>
                <th>Comments</th>
            </tr>
            {% for item in report %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.date }}</td> 
                <td>{{ item.item_no }}</td>
                <td>{{ item.item_name }}</td> 
                <td>{{ item.vendor }}</td>
                <td>{{ item.stock_location }}</td> 
                <td>{{ item.cost_per_unit }}</td>
                <td>{{ item.previous_balance }}</td> 
                <td>{{ item.purchase }}</td> 
                <td>{{ item.issued }}</td> 
                <td>{{ item.ending_balance }}</td>
                <td>{{ item.issued_to }}</td> 
                <td>{{ item.comments }}</td>
            </tr>
            {% endfor %}
            
        </table>
		<div class="printButton">
			<a href="{% url 'worker_report_print' %}" target="_blank"> <button>Print</button> </a>
		</div>
    </div>   

{% endblock %}