{% load static %}

{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'StaffWorkspace/css/workerReportPrint.css' %}">
	<script src="{% static 'StaffWorkspace/js/workerReportPrint.js' %}"></script>
{% endblock %}

{% block content %}
      <div>
        <div class="header">
            <image src="{% static 'StaffWorkspace/img/logo.png' %}" alt="Mas Trade International LTD. Logo">        
        </div>
        <hr/>
        <h3 class="report">Report of August 2018</h3>
        
        <div class="container-fluid" >    
            <table class="tableEdit">
                <tr>
                    <th>Sl No.</th>
                    <th>Date</th>
                    <th>Item No.</th>
                    <th>Item Name</th>
                    <th>Vendor</th>
                    <th>Stock Location</th>
                    <th>Cost/Unit</th>
                    <th>Previous Balance</th>
                    <th>Purchase</th>
                    <th>Issued</th>
                    <th>Ending Balance</th>
                    <th>Issued To</th>
                    <th>Comments</th>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr><tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Smith</td> 
                    <td>Jill</td>
                    <td>Smith</td> 
                    <td>50</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}