.logout{
    float: right;
    margin-top: 30px;
}
.logout button{
    height: 30px;
    width: 105px;
    padding: 0;
    color: #2303EF;
    background-color: white;
    border: 1px solid #2303EF;
    border-radius: 22px;
    
}
.contents{
    height: 600px;
    padding: 120px 0px;
    text-align: center;
}
.contents a{
    color: black;
}
.buttonAll{
    margin: 90px auto;
}
.buttons{
    margin: 5px;
    height: 55px;
}